version: "3.7"

services:

  eim-core:
    image: {{ eim_docker_core }}
    container_name: eim-core
    hostname: eim-core
    ports:
      - "80:80"
    depends_on:
      - eim-mongodb
    networks:
      - backend
      - eim-core
    environment:
      - EIM_DB_HOST
      - EIM_DB_PORT
      - EIM_DB_NAME
      - EIM_DB_USER
      - EIM_DB_PASSWORD
      - EIM_GIT_HASH
      - DMR_RELEASE_NAME
      - EIM_LOG_LEVEL
      - "TZ=Europe/Stockholm"

  eim-mongodb:
    image: {{ eim_docker_db }}
    container_name: eim-mongodb
    hostname: eim-mongodb
    environment:
      - MONGO_INITDB_ROOT_USERNAME
      - MONGO_INITDB_ROOT_PASSWORD
      - MONGO_INITDB_DATABASE
      - EIM_DB_NAME
      - EIM_DB_USER
      - EIM_DB_PASSWORD
      - EIM_LOG_LEVEL
      - TZ=Europe/Stockholm
    networks:
      - backend
    volumes:
      - "mongodb:/data/db"
    restart: unless-stopped

  eim-harvester:
    image: {{ eim_docker_harvester }}
    container_name: eim-harvester
    hostname: eim-harvester
    depends_on:
      - eim-mongodb
    networks:
      - eim-core
      - backend
    environment:
      - EIM_HARVESTER_PERIODICITY_SEC
      - EIM_LOG_LEVEL
      - EIM_DB_HOST
      - EIM_DB_PORT
      - EIM_DB_NAME
      - EIM_DB_USER
      - EIM_DB_PASSWORD

networks:
  eim-core:
  backend:
    internal: true

volumes:
  mongodb:

